
.battleArea {
    width: 100%;
    height: 500px;
    justify-content: center;
}
#avoidImage {
    position: relative;
    width: auto;
    height: 150px;
}
#randomImage {
    position: relative;
    width: auto;
    height: 200px;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}

button {
    display: block;
    margin: 0 auto;
    position: relative;
    border-radius: 8px;
    font-size: 20pt;
    height: 40px;
    width: 150px;
}
